<h2>Add a new friend</h2>

<form method="POST" action="/new_friend">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="text" name="age" placeholder="Age">
	<input type="text" name="sex" placeholder="Sex">
	<input type="text" name="image_url" placeholder="Picture Link">
	<input type="text" name="twitter_url" placeholder="Twitter Link">
	<input type="text" name="github_url" placeholder="GitHub Link">
	<input type="text" name="facebook_url" placeholder="Facebook Link">
	<input type="submit" value="Add Friend">
</form>
